<h1>Menu</h1>
<p>Pizzas by recipe </p>


          <div class="card mb-4 box-shadow" style="border-radius: 25px">

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;  alt="pizza" style="height: 225px; width: 100%; display: block;" src="/assets/p1.jpg">

          </div>




</body>
</html>